@import "tailwindcss";

/* Отключаем скроллбар для Webkit-браузеров (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

/* Отключаем скроллбар для Firefox */
html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;  /* Отключаем скроллбар для Internet Explorer и Edge */
  /* Новые правила для отключения зума */
  touch-action: pan-x pan-y;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

/* Отключаем выделение текста и элементов во всем приложении */
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.dark {
  background-color: #1a202c;
  color: #a0aec0;
}